
# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Local Environment Variables
# This is crucial for keeping your secret keys safe!
.env.local
.env.development.local
.env.production.local

# Misc
.DS_Store
*.pem
